#!/usr/bin/env bash
# B A S H ! ! !

###
### Define the env variables for working with an infrastructure cluster
###

# define the terraform configuration that is being used
export INFRASTRUCTURE_ID="standard"

# Define the AMI/VMI to user
export DISTRO_ID="2.23.x"

# Define the Sizing to use
export ISIZE_ID="pax-128"

# The person responsible for this customer cluster
export APPROVER_EMAIL="kuntal@paxata.com"
