apiVersion: v1
clusters:
- cluster:
    server: ${endpoint}
    certificate-authority-data: ${certificate-authority}
  name: ${env-key}
contexts:
- context:
    cluster: ${env-key}
    user: ${env-key}-user
  name: ${env-key}
current-context: ${env-key}
kind: Config
preferences: {}
users:
- name: ${env-key}-user
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: aws-iam-authenticator
      args:
        - "token"
        - "-i"
        - "${env-key}"
