#!/usr/bin/env bash
# B A S H ! ! !

###
### Define the env variables for working with an infrastructure cluster
###

# define the terraform configuration that is being used
# DON'T YOU DARE CHANGE THIS
export INFRASTRUCTURE_ID="single-public-server"

# Define the AMI/VMI to user
export DISTRO_ID="2.23.x"

# Define the Sizing to use
export ISIZE_ID="single"
