root.location=jar:file:lib/frontend-{{paxata_version}}-webapp.jar!/
px.port=80
px.port.redirect=true
px.port.redirect.to=443
px.use.ssl=true
px.ssl.port=443
px.ssl.cert.alias=server
px.ssl.keystore=/usr/local/paxata/server/certs/star_paxatadev_com.jks
px.ssl.truststore=/usr/local/paxata/server/certs/star_paxatadev_com.jks

px.ssl.exclude.protocols=SSLv3

px.ssl.include.ciphers=TLS_RSA_WITH_AES_256_CBC_SHA,TLS_RSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA,TLS_EMPTY_RENEGOTIATION_INFO_SCSV

#java -cp /usr/local/paxata/server/lib/jetty-util-8.1.12.v20130726.jar org.eclipse.jetty.util.security.Password <password>
#java -cp /usr/local/paxata/server/lib/jetty-util-8.1.12.v20130726.jar org.eclipse.jetty.util.security.Password paxata123
#encryptable
px.ssl.keystore.password=OBF:1lfg1i9a1mme1ri71z0f1ri71mig1i6o1lc2
#encryptable
px.ssl.truststore.password=OBF:1lfg1i9a1mme1ri71z0f1ri71mig1i6o1lc2
