#!/usr/bin/env bash
# B A S H ! ! !

###
### Define the env variables for working with an infrastructure cluster
###

# Q: Why not HCL ?
# A: These variables are used in the bash scripts for logic and file lookups

# define the terraform configuration that is being used
export INFRASTRUCTURE_ID="vault"

# The Distribution to use and deploy.
export DISTRO_ID=""

# The server types and configurations to use
export ISIZE_ID=""

# The person responsible for this customer cluster
export APPROVER_EMAIL="gbonk@paxata.com"
